In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [8]:
df = pd.read_csv('./dataset/train/train.csv', index_col=False)

In [18]:
df_time.head(20)

    DHI  DNI   WS     RH   T     TARGET
0     0    0  1.5  69.08 -12   0.000000
1     0    0  1.5  69.06 -12   0.000000
2     0    0  1.6  71.78 -12   0.000000
3     0    0  1.6  71.75 -12   0.000000
4     0    0  1.6  75.20 -12   0.000000
5     0    0  1.5  69.29 -11   0.000000
6     0    0  1.5  72.56 -11   0.000000
7     0    0  1.4  72.55 -11   0.000000
8     0    0  1.3  74.62 -11   0.000000
9     0    0  1.3  74.61 -11   0.000000
10    0    0  1.3  73.74 -11   0.000000
11    0    0  1.3  73.73 -11   0.000000
12    0    0  1.4  72.22 -12   0.000000
13    0    0  1.4  72.22 -12   0.000000
14    0    0  1.4  70.27 -12   0.000000
15    0    0  1.6  64.83 -10   0.000000
16   29  494  1.8  65.45  -9   7.039287
17   61    7  1.9  55.90  -7   5.912871
18   58  743  2.1  57.39  -6  22.337268
19   67  811  1.9  53.15  -4  29.469529

# LinearRegression

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

y_target = df_time['TARGET']
X_data = df_time.drop(['TARGET'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X_data, y_target, test_size=0.2, random_state=156)

lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
mse = mean_squared_error(y_test,lr_pred)
rmse = np.sqrt(mse)

In [20]:
mse

67.15614942793019

# RandomForestRegressor

In [25]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(max_depth=10, random_state=42)
rf.fit(X_train, y_train)
pred = rf.predict(X_test)

In [28]:
mse = mean_squared_error(y_test, pred)
rmse = np.sqrt(mse)

In [29]:
mse

1.8994031846482158